@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  background-color: #2F2F2F;
}

* {
  margin: 0;
  font-family: 'Press Start 2P', 'sans-serif';
  color: white;
}

p,
a {
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-size: 3rem;
  text-align: center;
  margin: 10px;
}

h1 {
  font-family: 'Russo One', 'sans-serif';
  color: #FECA1B;
  font-size: 3.5rem;
  padding: 4px;
}

h2 {
  font-family: 'Press Start 2P', 'sans-serif';
  font-size: 2rem;
  margin: 30px 0;
  color: #FECA1B;
}

a {
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.pokeBall {
  width: 40px;
  height: 40px;
}

.isLoading {
  font-family: 'Press Start 2P', 'sans-serif';
  color: #FECA1B;
  text-align: center;
  margin: auto;
  font-size: 2.7rem;
  margin-top: 350px;
}

.navbar {
  color: white;
  background-color: #F44335;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-link {
  display: flex;
  gap: 2rem;
}

.nav-link a {
  color: white;
  text-decoration: none;
}

.nav-link a:hover {
  color: #FECA1B;
}

button {
  cursor: pointer !important;
}

/* POKEMON LIST-------------------------------------- */


.pokemonCard {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.pokemon {
  background-color: #888888;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.pokemon:hover {
  border: #FECA1B solid 0.5px;
}

.pokemon button {
  background-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  height: 2rem;
  border: none;
}

.buttonTypePokemon {
  display: flex;
  gap: 5px;
  justify-content: center;
  text-decoration: none;
  margin-top: 15px;
}

p {
  text-transform: capitalize;

}

.buttonTypePokemon button {
  height: 1.5rem;
  text-align: center;
  font-size: 0.7rem;
}

input {
  text-align: center;
  width: 15rem;
  height: 2rem;
  border: 2px solid #3761A8;
  color: white;
}

input[type=text] {
  color: black;
  font-size: 0.8rem;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: black;

}


/* Animation isLoading ...  --------------------------*/

@keyframes loadingAnimation {
  0% {
    content: "Pokemon loading";
  }

  33% {
    content: "Pokemon loading.";
  }

  66% {
    content: "Pokemon loading..";
  }

  100% {
    content: "Pokemon loading...";
  }
}

.isLoading::after {
  content: "Pokemon loading...";
  display: inline-block;
  animation: loadingAnimation 1s infinite;
  margin-top: 0;

}


/* Couleur bouton en fonction du type ----------------- */


.buttonTypePokemon button {
  text-transform: capitalize;
}

.buttonTypePokemon .type-grass {
  background-color: #78c850;
}

.buttonTypePokemon .type-fire {
  background-color: #f08030;
}

.buttonTypePokemon .type-water {
  background-color: #6890f0;
}

.buttonTypePokemon .type-electric {
  background-color: #f8d030;
}

.buttonTypePokemon .type-ice {
  background-color: #98d8d8;
}

.buttonTypePokemon .type-fighting {
  background-color: #c03028;
}

.buttonTypePokemon .type-poison {
  background-color: #a040a0;
}

.buttonTypePokemon .type-ground {
  background-color: #e0c068;
}

.buttonTypePokemon .type-flying {
  background-color: #a890f0;
}

.buttonTypePokemon .type-normal {
  background-color: #a8a878;
}

.buttonTypePokemon .type-bug {
  background-color: #a8b820;
}

.buttonTypePokemon .type-fairy {
  background-color: #ee99ac;
}

.buttonTypePokemon .type-psychic {
  background-color: #f85888;
}

.buttonTypePokemon .type-rock {
  background-color: #b8a038;
}

.buttonTypePokemon .type-dragon {
  background-color: #7038f8;
}

.buttonTypePokemon .type-ghost {
  background-color: #705898;
}

.buttonTypePokemon .type-steel {
  background-color: #b8b8d0;
}

.buttonTypePokemon .type-dark {
  background-color: #705848;
}

/* ----------------------------------------------------- */

.noFavorites {
  text-align: center;
  font-size: 2rem;
  color: #FECA1B;
  margin-top: 350px;
}

/* Pagination.css ---------------------------------------- */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 5px;
}

.pagination button {
  background-color: #f44336;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #2196f3;
}

.pagination button:hover {
  background-color: #555;
}

.imgDetails {
  width: 200px;
}

.pokemonCardDetails {
  border: 3px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  background-color: #888888;
}

.pokemonCardDetails img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.pokemonCardDetails p {
  margin: 10px 0;
  font-weight: bold;
}

.statsList {
  list-style: none;
  padding: 0;
}

.statsList li {
  margin: 10px 0;
}

.statName {
  font-weight: bold;
  margin-right: 10px;
}

.statBarContainer {
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid black
}

.statBar {
  height: 20px;
  color: white;
  text-align: center;
  line-height: 20px;
  transition: width 0.5s;
}

.statBar.green {
  background-color: green;
}

.statBar.blue {
  background-color: blue;
}

.statBar.red {
  background-color: red;
}

/* -------------------------------------------- */

.notFound {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.notFound p {
  text-align: center;
}

/* RESPONSIVE -------------------------------------------- */

@media (max-width: 700px) {

  h2 {
    font-size: 1.2rem;
  }

  .navbar {
    padding: 0 10px;
  }

  .nav-link {
    flex-direction: column;
    top: 60px;
    gap: 1rem;
  }

  .nav-link a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
  }

  .nav-link.active {
    display: flex;
  }

  h1 {
    font-size: 2.2rem;
    padding: 0;
    margin: 0 10px 0 0;
  }

  .navbar-left {
    gap: 2px
  }

  .pokemon:hover {
    border: none;
  }

  .isLoading {
    font-size: 2rem;
    margin-top: 20vh;
  }

  .pokemonCard {
    width: 100%
  }

  .pokemon {
    width: 10rem
  }

  .buttonTypePokemon button {
    height: 1.5rem;
  }

  .pokemon button {
    font-size: 0.5rem;
  }

  .noFavorites {
    margin-top: 20vh;
  }

  .isLoading {
    margin-top: 20vh;
  }

  .pagination button {
    font-size: 0.6rem;
  }

}