@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
  background-color: #2F2F2F;
}

*{
  margin: 0;
  font-family: 'Press Start 2P', 'sans-serif';
  color: white;
}

p, a{
  font-size: 1rem;
}

h1, h2, h3{
  font-size: 3rem;
  text-align: center;
  margin: 10px;
}

h1{
  font-family: 'Press Start 2P', 'sans-serif';
  color: #FECA1B;
  font-size: 2.5rem;
  padding: 4px;
}

h2{
  font-family: 'Press Start 2P', 'sans-serif';
  font-size: 2rem;
  margin: 30px 0;
  color: #FECA1B;
}

a{
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.isLoading{
  font-family: 'Press Start 2P', 'sans-serif';
  color: #FECA1B;
  text-align: center;
  padding-top: 400px;
  margin: auto;
  font-size: 2.7rem;
}

.navbar{
  color: white;
  background-color: #EF5350;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.nav-link{
  display: flex;
  gap: 2rem;
}

.nav-link a{
  color: white;
  text-decoration: none;
}

.nav-link a:hover{
  color: #FECA1B;
}

button{
  cursor: pointer !important;
}

/* POKEMON LIST-------------------------------------- */


.pokemonCard{
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-list{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.pokemon{
  background-color: #888888;
  width: 12rem;
  /* height: 17rem;  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.pokemon:hover{
  border: #FECA1B solid 2px;
}


.pokemon button{
  background-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  height: 2rem;
  border: none;
}

.buttonTypePokemon {
  display: flex;
  gap: 5px;
  justify-content: center;
  text-decoration: none;
  margin-top: 15px;
}


.buttonTypePokemon button{
  height: 1.5rem;
  text-align: center;
  font-size: 0.7rem;
}

input{
  text-align: center;
  width: 15rem;
  height: 2rem;
  border: 2px solid #3761A8;
  color: white;
}

input[type=text] {
  color: black;
  font-size: 0.8rem;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: black;

}


/* Animation isLoading ...  --------------------------*/

@keyframes loadingAnimation {
  0% { content: "POKEMON LOADING"; }
  33% { content: "POKEMON LOADING."; }
  66% { content: "POKEMON LOADING.."; }
  100% { content: "POKEMON LOADING..."; }
}

.isLoading::after {
  content: "POKEMON LOADING...";
  display: inline-block;
  animation: loadingAnimation 1s infinite;
}


/* Couleur bouton en fonction du type ----------------- */

.buttonTypePokemon .type-grass {
  background-color: #78c850;
}

.buttonTypePokemon .type-fire {
  background-color: #f08030;
}

.buttonTypePokemon .type-water {
  background-color: #6890f0;
}

.buttonTypePokemon .type-electric {
  background-color: #f8d030;
}

.buttonTypePokemon .type-ice {
  background-color: #98d8d8;
}

.buttonTypePokemon .type-fighting {
  background-color: #c03028;
}

.buttonTypePokemon .type-poison {
  background-color: #a040a0;
}

.buttonTypePokemon .type-ground {
  background-color: #e0c068;
}

.buttonTypePokemon .type-flying {
  background-color: #a890f0;
}

.buttonTypePokemon .type-normal {
  background-color: #a8a878;
}

.buttonTypePokemon .type-bug {
  background-color: #a8b820;
}

.buttonTypePokemon .type-fairy {
  background-color: #ee99ac;
}

.buttonTypePokemon .type-psychic {
  background-color: #f85888;
}

.buttonTypePokemon .type-rock {
  background-color: #b8a038;
}

.buttonTypePokemon .type-dragon {
  background-color: #7038f8;
}

.buttonTypePokemon .type-ghost {
  background-color: #705898;
}

.buttonTypePokemon .type-steel {
  background-color: #b8b8d0;
}


/* ----------------------------------------------------- */

.heart-icon {
  display: inline-block;
  cursor: pointer;
  font-size: 20px; 
  line-height: 1.5; 
}

.heart-icon.favorited {
  color: red;
}