@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

html{
  background-color: #2F2F2F;
}

img{
  width: 120px;
}

*{
  margin: 0;
  font-family: 'Concert One', 'sans-serif';
  color: white;
}

h1, h2, h3{
  font-size: 3rem;
  text-align: center;
  margin: 10px;
}

h1{
  font-family: 'Russo One', sans-serif;
  color: #FECA1B;
  text-decoration: underline;
  text-decoration-color: #3761A8 ;
  text-underline-offset: 5px;
  
  padding: 4px;
}

h2{
  font-family: 'Russo One', sans-serif;
  color: #FECA1B;
}

a{
  font-size: 1.7rem;
}

.isLoading{
  font-family: 'Russo One', sans-serif;
  color: #FECA1B;
  text-align: center;
  padding-top: 300px;
  margin: auto;
  font-size: 3rem;


}

.navbar{
  color: white;
  background-color: #EF5350;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.nav-link{
  display: flex;
  gap: 2rem;
}

.nav-link a{
  color: white;
  text-decoration: none;
}

.nav-link a:hover{
  color: #FECA1B;
}

button{
  cursor: pointer !important;
}

/* POKEMON LIST-------------------------------------- */

.pokemon-list{
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.pokemon{
  background-color: #888888;
  width: 10rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: #FECA1B solid 2px;
}


.pokemon button{
  background-color: transparent;
  font-size: 1.3rem;
  width: 8rem;
  text-transform: capitalize;
  height: 2rem;
  border-radius: 10px;
  border: none;
}

/* Animation isLoading ...  --------------------------*/

@keyframes loadingAnimation {
  0% { content: "POKEMON LOADING"; }
  33% { content: "POKEMON LOADING."; }
  66% { content: "POKEMON LOADING.."; }
  100% { content: "POKEMON LOADING..."; }
}

.isLoading::after {
  content: "POKEMON LOADING...";
  display: inline-block;
  animation: loadingAnimation 1s infinite;
}
